.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;

  &-logo-image {
    max-width: 100%;
    width: 200px;
    display: flex;
    align-items: center;
  }

  &-container-item {
    display: flex;
    gap: 8px;
  }

  &-item {
    display: flex;
    gap: 5px;
    text-decoration: none;
    margin-right: 0.5rem;
    font-weight: bold;
    color: #2c3e50;
  }
}
